In [48]:
import pandas as pd
import numpy as np

In [49]:
# Load data
match_df = pd.read_csv('compiled_data\match_data')
character_names = pd.read_csv('compiled_data\character_names')

# Merge the data using the character ids
match_df = match_df.merge(character_names, left_on='character', right_on='characterID')

# Replace the 'character' column with the 'name' column
match_df['character'] = match_df['name']

# Drop unnecessary columns
match_df = match_df.drop(columns=['Unnamed: 0', 'characterID', 'name'])

match_df.head()

,character,date,game_mode,league,match_id,ranked,win
0,Lucie,2018-01-01 00:00:03,3V3,1,18E42344815440E3BC148E93658B0E2C,False,False
1,Lucie,2018-01-01 00:00:05,2V2,3,7AF171370D804737BEC036A41A369BBF,False,False
2,Lucie,2018-01-01 00:00:11,2V2,0,8CB6BA4D019E4FAC9D713BAA1D0C20B2,False,False
3,Lucie,2018-01-01 00:00:11,2V2,3,E7F34F0CF2694C7597B973FAF2D31E03,False,True
4,Lucie,2018-01-01 00:00:21,3V3,1,210B90DBDD6A4A23AEC467BDEC6C6980,True,False

In [50]:
# Find all 2v2 matches
all_2v2 = match_df.loc[match_df.game_mode == '2V2']

# Find all 3v3 matches
all_3v3 = match_df.loc[match_df.game_mode == '3V3']

'''Casual matches'''
# Find all casual matches
casual = match_df.loc[match_df.ranked == False]

# Find 2v2 casual matches
casual2v2 = casual.loc[casual.game_mode == '2V2']

# Find 3v3 casual matches
casual3v3 = casual.loc[casual.game_mode == '3V3']

'''Ranked matches'''
# Find all ranked matches
ranked = match_df.loc[match_df.ranked == True]

# Find 2v2 ranked matches
ranked2v2 = ranked.loc[ranked.game_mode == '2V2']

# Find 3v3 ranked matches
ranked3v3 = ranked.loc[ranked.game_mode == '3V3']

In [51]:
def win_rates(df, format_str, type_str):
    '''
    Returns the win rates of the input DataFrame
    '''
    if format_str != 'league':
        # Find the win rates
        temp = df.groupby('character').win.sum() / df.groupby('character').win.count()
        
        # Rename 'win' column to 'win_rate'
        win_rates = pd.DataFrame(temp).reset_index().rename(columns={'win':'win_rate'})
        
        # Add 'format' and 'type' column
        win_rates['format'] = format_str
        win_rates['type'] = type_str
    else:
        # Find the ranked pick rates by league
        temp = df.groupby(['character', 'league']).win.sum() / df.groupby(['character', 'league']).win.count()

        # Unstack groupby object
        win_rates = temp.unstack()

        # Rename columns
        rename = {}
        leagues = ['bronze', 'silver', 'gold', 'platinum', 'diamond', 'champion', 'grand_champ']
        for i in range(7):
            rename[i] = leagues[i]
        win_rates = win_rates.rename(columns=rename)
        
        # Replace null values with zeros
        win_rates = win_rates.replace(np.nan, 0)
        
        # Stack column names, and reset index
        win_rates = win_rates.stack().reset_index()
        
        # Rename 'league' column to 'format',
        # label the 'win_rate' column,
        # and add 'type' column
        win_rates = win_rates.rename(columns={'league':'format', 0:'win_rate'})
        win_rates['type'] = type_str
    
    return win_rates

In [52]:
'''Overall win rates'''
# Find the overall win rates
overall_win_rates = win_rates(match_df, 'overall', 'overall')

# Find the overall 2v2 win rates
overall_win_rates_2v2 = win_rates(all_2v2, 'overall', '2v2')

# Find the overall 3v3 win rates
overall_win_rates_3v3 = win_rates(all_3v3, 'overall', '3v3')

# Concatenate into one DataFrame
overall_win_rates = pd.concat([overall_win_rates, overall_win_rates_2v2, overall_win_rates_3v3], ignore_index=True)

'''Casual win rates'''
# Find the casual win rates
casual_win_rates = win_rates(casual, 'casual', 'overall')

# Find the 2v2 casual win rates
casual_win_rates_2v2 = win_rates(casual2v2, 'casual', '2v2')

# Find the 3v3 casual win rates
casual_win_rates_3v3 = win_rates(casual3v3, 'casual', '2v2')

# Concatenate into one DataFrame
casual_win_rates = pd.concat([casual_win_rates, casual_win_rates_2v2, casual_win_rates_3v3], ignore_index=True)

'''Ranked win rates'''
# Find the ranked win rates
ranked_win_rates = win_rates(ranked, 'ranked', 'overall')

# Find the 2v2 ranked win rates
ranked_win_rates_2v2 = win_rates(ranked2v2, 'ranked', '2v2')

# Find the 3v3 ranked win rates
ranked_win_rates_3v3 = win_rates(ranked3v3, 'ranked', '3v3')

# Concatenate into one DataFrame
ranked_win_rates = pd.concat([ranked_win_rates, ranked_win_rates_2v2, ranked_win_rates_3v3], ignore_index=True)

'''League win rates'''
# Find the ranked win rates by league
league_win_rates = win_rates(ranked, 'league', 'overall')

# Find the ranked win rates by league
league_win_rates_2v2 = win_rates(ranked2v2, 'league', '2v2')

# Find the ranked win rates by league
league_win_rates_3v3 = win_rates(ranked3v3, 'league', '3v3')

# Concatenate into one DataFrame
league_win_rates = pd.concat([league_win_rates, league_win_rates_2v2, league_win_rates_3v3], ignore_index=True)


'''Combine all win rates'''
combined_win_rates = pd.concat([overall_win_rates, casual_win_rates, ranked_win_rates, league_win_rates], ignore_index=True)
combined_win_rates.to_csv('compiled_data\combined_win_rates')

In [53]:
def pick_rates(df, format_str, type_str):
    '''
    Returns the win rates of the input DataFrame
    '''
    if format_str != 'league':
        # Find the overall pick rates
        temp = match_df.groupby('character').win.count() / match_df.win.count()

        # Rename 'win' column to 'pick_rate
        pick_rates = pd.DataFrame(temp).reset_index().rename(columns={'win':'pick_rate'})

        # Add 'format' and 'type' column
        pick_rates['format'] = format_str
        pick_rates['type'] = type_str
    else:
        # Find the ranked pick rates by league
        temp = df.groupby(['character', 'league']).win.count() / df.groupby( 'league').win.count()
        
        # Unstack groupby object
        pick_rates = temp.unstack()
        
        # Rename columns
        rename = {}
        leagues = ['bronze', 'silver', 'gold', 'platinum', 'diamond', 'champion', 'grand_champ']
        for i in range(7):
            rename[i] = leagues[i]
        pick_rates = pick_rates.rename(columns=rename)
        
        # Replace null values with zeros
        pick_rates = pick_rates.replace(np.nan, 0)
        
        # Stack column names, and reset index
        pick_rates = pick_rates.stack().reset_index()
        
        # Rename 'league' column to 'format',
        # label the 'pick_rate' column,
        # and add 'type' column
        pick_rates = pick_rates.rename(columns={'league':'format', 0:'pick_rate'})
        pick_rates['type'] = type_str
    
    return pick_rates

In [54]:
'''Overall pick rates'''
# Find the overall pick rates
overall_pick_rates = pick_rates(match_df, 'overall', 'overall')

# Find the overall 2v2 pick rates
overall_pick_rates_2v2 = pick_rates(all_2v2, 'overall', '2v2')

# Find the overall 3v3 pick rates
overall_pick_rates_3v3 = pick_rates(all_3v3, 'overall', '3v3')

# Concatenate into one DataFrame
overall_pick_rates = pd.concat([overall_pick_rates, overall_pick_rates_2v2, overall_pick_rates_3v3], ignore_index=True)

'''Casual pick rates'''
# Find the casual pick rates
casual_pick_rates = pick_rates(casual, 'casual', 'overall')

# Find the 2v2 casual pick rates
casual_pick_rates_2v2 = pick_rates(casual2v2, 'casual', '2v2')

# Find the 3v3 casual pick rates
casual_pick_rates_3v3 = pick_rates(casual3v3, 'casual', '2v2')

# Concatenate into one DataFrame
casual_pick_rates = pd.concat([casual_pick_rates, casual_pick_rates_2v2, casual_pick_rates_3v3], ignore_index=True)

'''Ranked pick rates'''
# Find the ranked pick rates
ranked_pick_rates = pick_rates(ranked, 'ranked', 'overall')

# Find the 2v2 ranked pick rates
ranked_pick_rates_2v2 = pick_rates(ranked2v2, 'ranked', '2v2')

# Find the 3v3 ranked pick rates
ranked_pick_rates_3v3 = pick_rates(ranked3v3, 'ranked', '3v3')

# Concatenate into one DataFrame
ranked_pick_rates = pd.concat([ranked_pick_rates, ranked_pick_rates_2v2, ranked_pick_rates_3v3], ignore_index=True)

'''League pick rates'''
# Find the ranked pick rates by league
league_pick_rates = pick_rates(ranked, 'league', 'overall')

# Find the ranked pick rates by league
league_pick_rates_2v2 = pick_rates(ranked2v2, 'league', '2v2')

# Find the ranked pick rates by league
league_pick_rates_3v3 = pick_rates(ranked3v3, 'league', '3v3')

# Concatenate into one DataFrame
league_pick_rates = pd.concat([league_pick_rates, league_pick_rates_2v2, league_pick_rates_3v3], ignore_index=True)


'''Combine all pick rates'''
combined_pick_rates = pd.concat([overall_pick_rates, casual_pick_rates, ranked_pick_rates, league_pick_rates], ignore_index=True)
combined_pick_rates.to_csv('compiled_data\combined_pick_rates')

In [173]:
# Group by 'character', 'type', and 'format and get pick rates
win_rates_table = combined_win_rates.groupby(['character', 'type', 'format']).agg({'win_rate':'unique'})
# Get pick rate values
win_rates_table = win_rates_table.win_rate.apply(lambda x: x[0])
# Convert to table for easy viewing
win_rates_table = win_rates_table.unstack(level=2)
# Rearrange columns
columns = ['overall', 'casual', 'ranked', 'bronze', 'silver', 'gold', 'platinum', 'diamond', 'champion', 'grand_champ']
win_rates_table = win_rates_table.loc[:, columns]
# Add 'win_rate' level to the columns
win_rates_table.columns = pd.MultiIndex.from_product([['win_rate'], win_rates_table.columns], names=['stat', 'format'])

temp.head()

stat               win_rate                                                    \
format              overall    casual    ranked    bronze    silver      gold
character type
Alysia    2v2      0.508108  0.522936  0.486842  0.500000  0.565217  0.419355
          3v3      0.481818       NaN  0.425000  0.400000  0.500000  0.307692
          overall  0.498305  0.519553  0.465517  0.454545  0.538462  0.386364
Ashka     2v2      0.501976  0.497326  0.515152  0.642857  0.320000  0.750000
          3v3      0.488263       NaN  0.528302  0.142857  0.521739  0.692308

stat
format             platinum   diamond champion grand_champ
character type
Alysia    2v2      0.666667  0.000000      0.0         0.0
          3v3      0.500000  0.500000      0.0         NaN
          overall  0.625000  0.200000      0.0         0.0
Ashka     2v2      0.500000  0.666667      0.0         0.0
          3v3      0.714286  0.333333      0.0         NaN

In [174]:
# Group by 'character', 'type', and 'format and get pick rates
pick_rates_table = combined_pick_rates.groupby(['character', 'type', 'format']).agg({'pick_rate':'unique'})
# Get pick rate values
pick_rates_table = pick_rates_table.pick_rate.apply(lambda x: x[0])
# Convert to table for easy viewing
pick_rates_table = pick_rates_table.unstack(level=2)
# Rearrange columns
columns = ['overall', 'casual', 'ranked', 'bronze', 'silver', 'gold', 'platinum', 'diamond', 'champion', 'grand_champ']
pick_rates_table = pick_rates_table.loc[:, columns]
# Add 'pick_rate' level to the columns
pick_rates_table.columns = pd.MultiIndex.from_product([['pick_rate'], pick_rates_table.columns], names=['stat', 'format'])

temp.head()

stat               win_rate                                                    \
format              overall    casual    ranked    bronze    silver      gold
character type
Alysia    2v2      0.508108  0.522936  0.486842  0.500000  0.565217  0.419355
          3v3      0.481818       NaN  0.425000  0.400000  0.500000  0.307692
          overall  0.498305  0.519553  0.465517  0.454545  0.538462  0.386364
Ashka     2v2      0.501976  0.497326  0.515152  0.642857  0.320000  0.750000
          3v3      0.488263       NaN  0.528302  0.142857  0.521739  0.692308

stat
format             platinum   diamond champion grand_champ
character type
Alysia    2v2      0.666667  0.000000      0.0         0.0
          3v3      0.500000  0.500000      0.0         NaN
          overall  0.625000  0.200000      0.0         0.0
Ashka     2v2      0.500000  0.666667      0.0         0.0
          3v3      0.714286  0.333333      0.0         NaN

In [178]:
statistics_table = win_rates_table.merge(pick_rates_table, left_index=True, right_index=True)
statistics_table.to_csv('compiled_data/statistics_table')

statistics_table

stat               win_rate                                                    \
format              overall    casual    ranked    bronze    silver      gold
character type
Alysia    2v2      0.508108  0.522936  0.486842  0.500000  0.565217  0.419355
          3v3      0.481818       NaN  0.425000  0.400000  0.500000  0.307692
          overall  0.498305  0.519553  0.465517  0.454545  0.538462  0.386364
Ashka     2v2      0.501976  0.497326  0.515152  0.642857  0.320000  0.750000
          3v3      0.488263       NaN  0.528302  0.142857  0.521739  0.692308
          overall  0.495708  0.487032  0.521008  0.476190  0.416667  0.720000
Bakko     2v2      0.481865  0.477876  0.487500  0.100000  0.500000  0.555556
          3v3      0.559633       NaN  0.517241  0.666667  0.600000  0.571429
          overall  0.509934  0.518135  0.495413  0.230769  0.533333  0.558824
Blossom   2v2      0.492063  0.553571  0.402597  0.307692  0.500000  0.521739
          3v3      0.559701       NaN  0.527778  0.333333  0.615385  0.500000
          overall  0.520124  0.561905  0.442478  0.312500  0.548387  0.513514
Croak     2v2      0.500000  0.503185  0.496552  0.470588  0.516667  0.485714
          3v3      0.436090       NaN  0.465116  0.250000  0.529412  0.400000
          overall  0.480460  0.473684  0.489362  0.428571  0.519481  0.466667
Destiny   2v2      0.536232  0.534884  0.538462  0.400000  0.444444  0.611111
          3v3      0.523810       NaN  0.375000  0.500000  0.285714  0.500000
          overall  0.531532  0.554795  0.486842  0.428571  0.400000  0.576923
Ezmo      2v2      0.509434  0.521127  0.485714  1.000000  0.727273  0.285714
          3v3      0.525773       NaN  0.500000  0.333333  0.625000  0.250000
          overall  0.517241  0.528169  0.491803  0.500000  0.684211  0.277778
Freya     2v2      0.463964  0.475177  0.444444  0.454545  0.413793  0.444444
          3v3      0.500000       NaN  0.500000  0.400000  0.714286  0.400000
          overall  0.477011  0.484444  0.463415  0.437500  0.511628  0.428571
Iva       2v2      0.559006  0.531532  0.620000  0.555556  0.700000  0.571429
          3v3      0.476190       NaN  0.375000  1.000000  0.222222  0.500000
          overall  0.530612  0.519553  0.560606  0.600000  0.551724  0.555556
Jade      2v2      0.485039  0.501149  0.450000  0.368421  0.373333  0.535714
          3v3      0.531507       NaN  0.567010  0.333333  0.628571  0.518519
          overall  0.502000  0.507824  0.488215  0.360000  0.454545  0.530120
...                     ...       ...       ...       ...       ...       ...
Raigon    2v2      0.497573  0.520325  0.463855  0.466667  0.400000  0.509434
          3v3      0.511848       NaN  0.515625  0.500000  0.428571  0.578947
          overall  0.502408  0.516539  0.478261  0.477273  0.406977  0.527778
Rook      2v2      0.500000  0.500000  0.500000  0.250000  0.535714  0.681818
          3v3      0.493421       NaN  0.560976  0.833333  0.444444  0.500000
          overall  0.497222  0.485232  0.520325  0.500000  0.500000  0.633333
Ruh Kaan  2v2      0.465909  0.442623  0.518519  0.416667  0.375000  0.647059
          3v3      0.473118       NaN  0.526316  0.250000  0.833333  0.250000
          overall  0.468401  0.448980  0.520548  0.375000  0.500000  0.571429
Shifu     2v2      0.521739  0.471698  0.589744  0.166667  0.727273  0.612903
          3v3      0.555556       NaN  0.466667  0.400000  0.714286  0.428571
          overall  0.533569  0.520000  0.555556  0.272727  0.724138  0.578947
Sirius    2v2      0.568571  0.540541  0.600000  0.625000  0.526316  0.673077
          3v3      0.541176       NaN  0.585366  0.250000  0.736842  0.555556
          overall  0.559615  0.535032  0.597087  0.571429  0.578947  0.655738
Taya      2v2      0.346667  0.327273  0.400000  0.000000  0.714286  0.333333
          3v3      0.363636       NaN  0.466667  0.000000  0.500000  0.600000
          overall  0.353846  0.326316  0.428571  0.000000  0.636364  0.428571
Thorn     2v2      0.582278  0.586207  0.577465  0.727273  0.727273  0.458333
          3v3      0.546392       NaN  0.567568  0.500000  0.615385  0.444444
          overall  0.568627  0.564626  0.574074  0.666667  0.685714  0.454545
Ulric     2v2      0.418182  0.538462  0.310345  1.000000  0.181818  0.666667
          3v3      0.484848       NaN  0.500000  1.000000  0.333333  0.333333
          overall  0.443182  0.511628  0.377778  1.000000  0.214286  0.444444
Varesh    2v2      0.483333  0.487805  0.473684  0.000000  0.428571  0.400000
          3v3      0.404255       NaN  0.800000  0.000000  0.000000  1.000000
          overall  0.448598  0.421687  0.541667  0.000000  0.428571  0.500000
Zander    2v2      0.492424  0.494382  0.488372  0.000000  0.476190  0.533333
          3v3      0.573171       NaN  0.538462  0.500000  0.625000  0.666667
          overall  0.523364  0.531034  0.507246  0.333333  0.517241  0.571429

stat                                                        pick_rate  \
format             platinum   diamond  champion grand_champ   overall
character type
Alysia    2v2      0.666667  0.000000  0.000000    0.000000  0.036483
          3v3      0.500000  0.500000  0.000000         NaN  0.036483
          overall  0.625000  0.200000  0.000000    0.000000  0.036483
Ashka     2v2      0.500000  0.666667  0.000000    0.000000  0.057630
          3v3      0.714286  0.333333  0.000000         NaN  0.057630
          overall  0.578947  0.500000  0.000000    0.000000  0.057630
Bakko     2v2      0.428571  0.833333  0.000000    0.666667  0.037349
          3v3      0.285714  0.500000  0.000000         NaN  0.037349
          overall  0.380952  0.750000  0.000000    0.666667  0.037349
Blossom   2v2      0.111111  0.800000  0.000000    0.000000  0.039946
          3v3      0.500000  0.000000  0.000000         NaN  0.039946
          overall  0.208333  0.800000  0.000000    0.000000  0.039946
Croak     2v2      0.400000  0.700000  0.000000    1.000000  0.053797
          3v3      0.375000  1.000000  0.500000         NaN  0.053797
          overall  0.392857  0.750000  0.250000    1.000000  0.053797
Destiny   2v2      0.428571  1.000000  0.000000    0.000000  0.027455
          3v3      0.166667  1.000000  0.000000         NaN  0.027455
          overall  0.307692  1.000000  0.000000    0.000000  0.027455
Ezmo      2v2      0.200000  1.000000  0.000000    1.000000  0.025105
          3v3      0.400000  1.000000  0.000000         NaN  0.025105
          overall  0.300000  1.000000  0.000000    1.000000  0.025105
Freya     2v2      0.636364  0.000000  0.000000    0.000000  0.043037
          3v3      0.285714  1.000000  0.000000         NaN  0.043037
          overall  0.500000  0.500000  0.000000    0.000000  0.043037
Iva       2v2      0.400000  1.000000  1.000000    0.000000  0.030299
          3v3      0.500000  0.000000  0.000000         NaN  0.030299
          overall  0.428571  1.000000  1.000000    0.000000  0.030299
Jade      2v2      0.571429  0.555556  1.000000    0.000000  0.123671
          3v3      0.545455  0.625000  1.000000         NaN  0.123671
          overall  0.562500  0.588235  1.000000    0.000000  0.123671
...                     ...       ...       ...         ...       ...
Raigon    2v2      0.571429  0.500000  0.500000    0.000000  0.077047
          3v3      0.571429  0.666667  0.000000         NaN  0.077047
          overall  0.571429  0.600000  0.500000    0.000000  0.077047
Rook      2v2      0.312500  0.333333  1.000000    0.000000  0.044521
          3v3      0.714286  0.000000  1.000000         NaN  0.044521
          overall  0.434783  0.285714  1.000000    0.000000  0.044521
Ruh Kaan  2v2      0.857143  0.000000  0.000000    0.000000  0.033267
          3v3      0.333333  1.000000  0.000000         NaN  0.033267
          overall  0.700000  0.666667  0.000000    0.000000  0.033267
Shifu     2v2      0.583333  0.500000  0.333333    0.000000  0.034999
          3v3      0.200000  0.600000  0.000000         NaN  0.034999
          overall  0.470588  0.555556  0.250000    0.000000  0.034999
Sirius    2v2      0.625000  0.500000  0.000000    0.000000  0.064309
          3v3      0.500000  0.333333  0.000000         NaN  0.064309
          overall  0.600000  0.454545  0.000000    0.000000  0.064309
Taya      2v2      0.000000  0.000000  0.000000    0.000000  0.016077
          3v3      0.500000  0.000000  1.000000         NaN  0.016077
          overall  0.500000  0.000000  0.333333    0.000000  0.016077
Thorn     2v2      0.571429  0.333333  0.000000    0.000000  0.031536
          3v3      0.571429  0.750000  0.000000         NaN  0.031536
          overall  0.571429  0.500000  0.000000    0.000000  0.031536
Ulric     2v2      0.222222  0.400000  0.000000    0.000000  0.010883
          3v3      0.666667  0.666667  0.000000         NaN  0.010883
          overall  0.333333  0.500000  0.000000    0.000000  0.010883
Varesh    2v2      1.000000  0.000000  1.000000    0.000000  0.013233
          3v3      0.500000  1.000000  0.000000         NaN  0.013233
          overall  0.800000  0.666667  1.000000    0.000000  0.013233
Zander    2v2      0.400000  0.000000  0.000000    1.000000  0.026465
          3v3      0.285714  0.500000  1.000000         NaN  0.026465
          overall  0.333333  0.500000  1.000000    1.000000  0.026465

stat                                                                           \
format               casual    ranked    bronze    silver      gold  platinum
character type
Alysia    2v2      0.036483  0.036483  0.024793  0.035222  0.052991  0.040134
          3v3           NaN  0.036483  0.045872  0.051282  0.054393  0.026316
          overall  0.036483  0.036483  0.031339  0.040415  0.053398  0.035477
Ashka     2v2      0.057630  0.057630  0.057851  0.038285  0.020513  0.040134
          3v3           NaN  0.057630  0.064220  0.073718  0.054393  0.046053
          overall  0.057630  0.057630  0.059829  0.049741  0.030340  0.042129
Bakko     2v2      0.037349  0.037349  0.041322  0.030628  0.046154  0.046823
          3v3           NaN  0.037349  0.027523  0.032051  0.029289  0.046053
          overall  0.037349  0.037349  0.037037  0.031088  0.041262  0.046563
Blossom   2v2      0.039946  0.039946  0.053719  0.027565  0.039316  0.060201
          3v3           NaN  0.039946  0.027523  0.041667  0.058577  0.039474
          overall  0.039946  0.039946  0.045584  0.032124  0.044903  0.053215
Croak     2v2      0.053797  0.053797  0.070248  0.091884  0.059829  0.066890
          3v3           NaN  0.053797  0.036697  0.054487  0.041841  0.052632
          overall  0.053797  0.053797  0.059829  0.079793  0.054612  0.062084
Destiny   2v2      0.027455  0.027455  0.020661  0.027565  0.030769  0.023411
          3v3           NaN  0.027455  0.018349  0.022436  0.033473  0.039474
          overall  0.027455  0.027455  0.019943  0.025907  0.031553  0.028825
Ezmo      2v2      0.025105  0.025105  0.008264  0.016845  0.023932  0.016722
          3v3           NaN  0.025105  0.055046  0.025641  0.016736  0.032895
          overall  0.025105  0.025105  0.022792  0.019689  0.021845  0.022173
Freya     2v2      0.043037  0.043037  0.045455  0.044410  0.046154  0.036789
          3v3           NaN  0.043037  0.045872  0.044872  0.062762  0.046053
          overall  0.043037  0.043037  0.045584  0.044560  0.050971  0.039911
Iva       2v2      0.030299  0.030299  0.037190  0.030628  0.023932  0.016722
          3v3           NaN  0.030299  0.009174  0.028846  0.016736  0.013158
          overall  0.030299  0.030299  0.028490  0.030052  0.021845  0.015521
Jade      2v2      0.123671  0.123671  0.157025  0.114855  0.095726  0.070234
          3v3           NaN  0.123671  0.110092  0.112179  0.112971  0.072368
          overall  0.123671  0.123671  0.142450  0.113990  0.100728  0.070953
...                     ...       ...       ...       ...       ...       ...
Raigon    2v2      0.077047  0.077047  0.123967  0.099541  0.090598  0.046823
          3v3           NaN  0.077047  0.128440  0.067308  0.079498  0.046053
          overall  0.077047  0.077047  0.125356  0.089119  0.087379  0.046563
Rook      2v2      0.044521  0.044521  0.033058  0.042879  0.037607  0.053512
          3v3           NaN  0.044521  0.055046  0.057692  0.033473  0.046053
          overall  0.044521  0.044521  0.039886  0.047668  0.036408  0.050998
Ruh Kaan  2v2      0.033267  0.033267  0.049587  0.024502  0.029060  0.023411
          3v3           NaN  0.033267  0.036697  0.019231  0.016736  0.019737
          overall  0.033267  0.033267  0.045584  0.022798  0.025485  0.022173
Shifu     2v2      0.034999  0.034999  0.024793  0.033691  0.052991  0.040134
          3v3           NaN  0.034999  0.045872  0.022436  0.029289  0.032895
          overall  0.034999  0.034999  0.031339  0.030052  0.046117  0.037694
Sirius    2v2      0.064309  0.064309  0.099174  0.087289  0.088889  0.080268
          3v3           NaN  0.064309  0.036697  0.060897  0.037657  0.039474
          overall  0.064309  0.064309  0.079772  0.078756  0.074029  0.066519
Taya      2v2      0.016077  0.016077  0.000000  0.010720  0.015385  0.000000
          3v3           NaN  0.016077  0.018349  0.012821  0.020921  0.013158
          overall  0.016077  0.016077  0.005698  0.011399  0.016990  0.004435
Thorn     2v2      0.031536  0.031536  0.045455  0.033691  0.041026  0.023411
          3v3           NaN  0.031536  0.036697  0.041667  0.037657  0.046053
          overall  0.031536  0.031536  0.042735  0.036269  0.040049  0.031042
Ulric     2v2      0.010883  0.010883  0.004132  0.016845  0.005128  0.030100
          3v3           NaN  0.010883  0.009174  0.009615  0.025105  0.019737
          overall  0.010883  0.010883  0.005698  0.014508  0.010922  0.026608
Varesh    2v2      0.013233  0.013233  0.008264  0.010720  0.008547  0.010033
          3v3           NaN  0.013233  0.000000  0.000000  0.004184  0.013158
          overall  0.013233  0.013233  0.005698  0.007254  0.007282  0.011086
Zander    2v2      0.026465  0.026465  0.004132  0.032159  0.025641  0.016722
          3v3           NaN  0.026465  0.018349  0.025641  0.025105  0.046053
          overall  0.026465  0.026465  0.008547  0.030052  0.025485  0.026608

stat
format              diamond  champion grand_champ
character type
Alysia    2v2      0.030000  0.038462    0.000000
          3v3      0.033898  0.000000         NaN
          overall  0.031447  0.027027    0.000000
Ashka     2v2      0.030000  0.000000    0.000000
          3v3      0.050847  0.000000         NaN
          overall  0.037736  0.000000    0.000000
Bakko     2v2      0.060000  0.000000    0.272727
          3v3      0.033898  0.000000         NaN
          overall  0.050314  0.000000    0.272727
Blossom   2v2      0.050000  0.000000    0.000000
          3v3      0.000000  0.000000         NaN
          overall  0.031447  0.000000    0.000000
Croak     2v2      0.100000  0.076923    0.090909
          3v3      0.033898  0.181818         NaN
          overall  0.075472  0.108108    0.090909
Destiny   2v2      0.040000  0.000000    0.000000
          3v3      0.016949  0.000000         NaN
          overall  0.031447  0.000000    0.000000
Ezmo      2v2      0.010000  0.038462    0.090909
          3v3      0.050847  0.000000         NaN
          overall  0.025157  0.027027    0.090909
Freya     2v2      0.010000  0.076923    0.000000
          3v3      0.016949  0.000000         NaN
          overall  0.012579  0.054054    0.000000
Iva       2v2      0.010000  0.038462    0.000000
          3v3      0.000000  0.000000         NaN
          overall  0.006289  0.027027    0.000000
Jade      2v2      0.090000  0.038462    0.000000
          3v3      0.135593  0.363636         NaN
          overall  0.106918  0.135135    0.000000
...                     ...       ...         ...
Raigon    2v2      0.020000  0.076923    0.000000
          3v3      0.050847  0.000000         NaN
          overall  0.031447  0.054054    0.000000
Rook      2v2      0.060000  0.076923    0.000000
          3v3      0.016949  0.090909         NaN
          overall  0.044025  0.081081    0.000000
Ruh Kaan  2v2      0.010000  0.038462    0.000000
          3v3      0.033898  0.000000         NaN
          overall  0.018868  0.027027    0.000000
Shifu     2v2      0.040000  0.115385    0.000000
          3v3      0.084746  0.090909         NaN
          overall  0.056604  0.108108    0.000000
Sirius    2v2      0.080000  0.000000    0.000000
          3v3      0.050847  0.000000         NaN
          overall  0.069182  0.000000    0.000000
Taya      2v2      0.020000  0.076923    0.000000
          3v3      0.016949  0.090909         NaN
          overall  0.018868  0.081081    0.000000
Thorn     2v2      0.060000  0.038462    0.000000
          3v3      0.067797  0.000000         NaN
          overall  0.062893  0.027027    0.000000
Ulric     2v2      0.050000  0.000000    0.000000
          3v3      0.050847  0.000000         NaN
          overall  0.050314  0.000000    0.000000
Varesh    2v2      0.010000  0.038462    0.000000
          3v3      0.033898  0.000000         NaN
          overall  0.018868  0.027027    0.000000
Zander    2v2      0.000000  0.000000    0.090909
          3v3      0.033898  0.090909         NaN
          overall  0.012579  0.027027    0.090909

[81 rows x 20 columns]